.nav-link.active {
    color: blueviolet;
    background-color: blanchedalmond;
    border-radius: 5px;
}

.navbar-custom {
    height: 48px;
}

.col-md-3.shadow-lg.mb-5.bg-body.rounded.px-3 {
    display: flex;
    align-items: center;
}

.col-md-3.shadow-lg.mb-5.bg-body.rounded.px-3:hover {
    background-color: rgba(216, 216, 216, 0.247) !important;
    cursor: default;
}

.badge,
.btn {
    line-height: 2;
    margin-top: 5%;
}