:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --blue-text: #155593;
    --menu-text-color: #686868;
    --notifi-color: rgba(238, 130, 224, 0.247);
    --orange-color: #fb5533;
    --yellow-color: #f29536;
    --hover-color: #ededed;
    --blue2-color: #155593;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

* {
    box-sizing: initial;
}

html {
    font-size: 100%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
.bill{
    padding: 60px 0 0 0;
}

/*thông tin người dùng*/
.bill-slip{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bill-slip__text{
    margin: 5px 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.bill-slip__table td{
    line-height: 2;
    /* width: 150px; */
    max-width: 100%;
}
.bill-ship__label{
    font-size: 0.9rem;
    /* width: 120px; */
    font-weight: 600;
}
.bill-slip__span{
    margin: 0 0 0 0px;
    font-size: 0.9rem;
}
.bill-product__table{
    width: 100%;
}



/*thông tin sản phẩm*/
.bill-product__text{
    margin: 10px 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.bill-product__noti{
    display: flex;
}
.bill-product__noti-code{
    padding: 0 10px;
    font-size: 0.9rem;
}
.bill-product__noti-code:first-child
{
    padding-left: 0;
}
.bill-product__noti-text{
    font-weight: 600;
}
.bill-product{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 64px
}
.bill-product__table-1{
    width: 100%;
    table-layout: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 0 5px;
}
.bill-product__th{
    text-align: center;
    display: block;
    font-size: 1rem;
    padding: 10px 0;
}
.bbill-product__span-text{
    font-size: 0.9rem;
    text-align: left;
    display: block;
    padding: 10px 0;
}
.bbill-product__pay-text{
    text-align: left;
    display: block;
    font-size: 0.9rem;
    padding: 7px 0;
    font-weight: 600;
    width: 100%;
}
.bbill-product__pay-sum{
    text-align: left;
    display: block;
    font-size: 0.9rem;
    padding: 7px 0;
    width: 120px;
}
.text-cent{
    text-align: center;
}

/*trang thái thanh toán*/
.bill-noti{
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 0;
}
.bill-noti span{
    color: var(--blue-text);
    font-weight: 300;
}